.chat {
  display: flex;
  flex: 0.75;
  flex-direction: column;
  overflow-y: auto;
  background-color: #363a3f;
  height: 100vh;
}

.chat__messages {
  flex: 1;
  overflow: scroll;
}

.chat__messages::-webkit-scrollbar {
  display: none;
}

.chat__messages {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat__input {
  color: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
  border-top: 1px solid gray;
  background-color: #474b53;
}

.chat__input > form > input {
  padding: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: large;
  width: 100%;
}

.chat__input > form {
  flex: 1;
}

.chat__inputButton {
  display: none;
}

.chat__inputIcons > .MuiSvgIcon-root {
  padding: 5px;
}

.icons_hover:hover {
  color: white;
}
